
{% extends 'doctor/doctorbase.html' %}

{% block content %}
<style>
  .msg {
      
      color: red;
  }
  </style>
<div class="container mt-5 pb-5">
  <h2 class="mb-4">Reassign Patient</h2>

  <div class="msg">
    {% for p in messages %}
    <h5><div class="box">{{ p }}</div></h5>
    {% endfor %}
</div><br>

    <h5><b>Current Doctor</b>: {{ current_doctor.get_full_name }}</h5>

    <form method="post" action="{% url 'reassign_patient' %}">
      {% csrf_token %}
      <div class="form-group">
        <label for="department"><b>Department</b></label>
        <select class="form-control" id="department" name='department' style="width: 60%;" required>
            
            {% for department in departments %}
                <option value="{{ department.id }}" > {{ department.department_name }}
                </option>
            {% endfor %}
        </select>
      </div>

      <div class="form-group">
        <label for="new_doctor"><b>Select New Doctor:</b></label>
        <select class="form-control" id="new_doctor" name="new_doctor" style="width: 60%;" required>
          <option value="" disabled selected> Select Doctor</option>
          {% for doctor in doctors %}
            <option value="{{ doctor.id }}">{{ doctor.get_full_name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label for="patient"><b>Select Patient:</b></label>
        <select class="form-control" id="patient" name="patient" style="width: 60%;" required>
          {% for appointment in appointments %}
            <option value="{{ appointment.patient.id }}">{{ appointment.patient.patient_name }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="form-group">
        <label for="illness"><b>Illness of the patient:</b></label>
        <textarea class="form-control" id="illness" name="illness" rows="3" style="width: 60%;" required></textarea>
      </div>

      <div class="form-group">
        <label for="medicine_name"><b>Prescribed medicine name:</b></label>
        <input type="text" class="form-control narrower-input" id="medicine_name" name="medicine_name" style="width: 60%;" required>
      </div>

      <div class="form-group">
        <label for="consumption_time"><b>Consumption Time:</b</label>
        <select class="form-control" id="consumption_time" name="consumption_time" style="width: 80%;" required>
            <option value="Morning">Morning</option>
            <option value="Afternoon">Afternoon</option>
            <option value="Evening">Evening</option>
        </select>
      </div>

      <div class="form-group">
        <label for="reason">Reason for Reassignment:</label>
        <textarea class="form-control" id="reason" name="reason" rows="3" style="width: 60%;" required></textarea>
      </div>
      <div class="form-group">
        <label for="appointment_date">Appointment Date and Time</label>
        <input type="datetime-local" class="form-control" name="appointment_date" id="appointment_date" style="width: 60%;" required>
    </div>

      <button type="submit" class="btn btn-primary">Reassign</button>
    </form>
  </div>

  <style>
   
    .form-control.narrower-input {
      width: 80%;
    }
  </style>
 <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script>
    $(document).ready(function() {
        
        var selectedDepartment = "{{ selected_department }}";
        if (selectedDepartment) {
            $("#department").val(selectedDepartment);
        }

      
        $("#department").change(function() {
            var selectedDepartment = $(this).val();
            
            
            window.location.href = "{% url 'reassign_patient' %}?department=" + selectedDepartment;
        });
    });
</script>
{% endblock %}
